<% layout('/layouts/boilerplate.ejs') -%>
<div class="row mt-5">
            <div class="col-8 offset-2">
    <h3>Edit Listing</h3>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" novalidate class="needs-validation">
        

        <div class="mb-3">
            <label for="listing[title]">Title:</label>
            <input value="<%= listing.title %>" type="text" name="listing[title]" class="form-control" required>
            <div class="valid-feedback">
                Title is good!.
                </div>
        </div>
        <div class="mb-3">
            <label for="listing[description]">Description:</label>
            <input value="<%= listing.description %>" type="text" name="listing[description]" class="form-control" required>
            <div class="invalid-feedback">
                Please enter a short description!
                </div>
        </div>
        <div class="mb-3">
            <label for="listing[image]">Image URL:</label>
            <input type="text" name="listing[image]" value="<%= listing.image %>" class="form-control" required>
            <div class="invalid-feedback">
                Please enter a valid image URL.
            </div>
        </div>
        <div class="row">
             <div class="mb-3 col-md-4">
            <label for="listing[price]">Price:</label>
            <input value="<%= listing.price %>" type="number"  name="listing[price]" class="form-control" required>
            <div class="invalid-feedback">
                Please enter a valid price.
                </div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="listing[country]">Country:</label>
            <input value="<%= listing.country %>" type="text"  name="listing[country]" class="form-control" required>
            <div class="invalid-feedback">
                Please enter a valid country.
            </div>
        </div>
        </div>
       
        <div class="mb-3">
            <label for="listing[location]">Location:</label>
            <input value="<%= listing.location %>" type="text" name="listing[location]" class="form-control" required>
            <div class="invalid-feedback">
                Please enter a valid location.
            </div>
        </div>
        <button type="submit" class="btn btn-dark edit-btn" mt-3>Edit Listing</button>
    </form>
      </div>
        </div>
       
